# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\project\DK_erpetual_calendar\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
